
.ng-enter {
  animation: my_fade_animation 3s linear;
  -webkit-animation: my_fade_animation 3s linear;
}

.ng-leave {
  animation: my_fade_animation 0.8s linear;
  -webkit-animation: my_fade_animation 0.8s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}


@media(max-width:1000px) {
    #container {
        width: 80%;
    }

}



body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}


a {
text-decoration: none;
}


html{
  height: 100%
}


body {
  font-family: 'Rock Salt', cursive;
  color:white;
  letter-spacing: 10px;
  background-image: url("https://codenewbiesite.files.wordpress.com/2017/01/fizzbuzz.png?w=660");
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}

div{
  background-color: rgba(45, 41, 41, 0.64);
  border: double 6.5px;
  padding: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

li{
  list-style: none;
}

button{
  background-color: black;
  border: double 7.5px white;
  font-family: 'Rock Salt', cursive;
  color:white;
}


a:link {
    color: red;
}


a:visited {
    color: white;
}


a:hover {
    color: yellow;
}
