
.ng-enter {
  animation: my_fade_animation 3s linear;
  -webkit-animation: my_fade_animation 3s linear;
}

.ng-leave {
  animation: my_fade_animation 0.8s linear;
  -webkit-animation: my_fade_animation 0.8s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

body {
  font-family: 'Rock Salt', cursive;
  color:white;
  background-image: url("https://codenewbiesite.files.wordpress.com/2017/01/fizzbuzz.png?w=660");
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}

div{
  background-color: rgba(45, 41, 41, 0.64);
  padding: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

li{
  list-style: none;
}

button{
  background-color: black;
  font-family: 'Rock Salt', cursive;
  color:white;
}


a:link {
    color: red;
}


a:visited {
    color: white;
}


a:hover {
    color: yellow;
}
